@media screen(lg) {
  .h-14.secondary-nav-height {
    height: calc(100vw - 9.5rem);
  }

  .secondary-nav-height.collapsed .secondary-nav-clickable {
    justify-content: center;
  }

  .secondary-nav-height.collapsed .secondary-nav-row {
    padding-left: 0;
  }

  .secondary-nav-height.collapsed .secondary-nav-row .collapsible {
    display: none;
    margin-left: 0;
  }
}
