<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.5.1/styles/default.css"></link>
  <script
    type="application/json"
    id="root-props"
  >
    <%- rootProps %>
  </script>
  <% cssFiles.forEach(function (cssFile) { %>
  <link
    rel="stylesheet"
    href="<%= assetBase %>/<%= cssFile %>"
  ></link>
  <% }); %>
</head>
<body class="bg-gray-100">
<div id="react-root">