<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.5.1/styles/default.css"></link>
  <link rel="icon" href="https://cdn.vox-cdn.com/thumbor/MaE7V9jjVyWJSrc7ENTvHoPGUzA=/125x0:1475x900/1400x788/filters:focal(125x0:1475x900):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/36552114/yoshi_cg.0.0.jpg">
  <script
    type="application/json"
    id="root-props"
  >
    <%- rootProps %>
  </script>
  <% cssFiles.forEach(function (cssFile) { %>
  <link
    rel="stylesheet"
    href="<%= assetBase %>/<%= cssFile %>"
  ></link>
  <% }); %>
</head>
<body class="bg-gray-100">
<div id="react-root">